extends layout
block content
  main(role="main" aria-labelledby="ibm-pagetitle-h1")
    #ibm-pcon
      #ibm-content
        #ibm-content-body
          #ibm-content-main
            //-ONE COLUMN TOP CONTENT CALL TO ACTION
            .ibm-columns
              .ibm-col-1-1
                p Your Learning is IBM's digital learning platform, personalized with a built-in sense-and-respond cognitive capability that recommends learning for you and understands what you like over time. Professional development and education – is in one place, built solely on IBM technology including Bluemix, Cloudant, Softlayer, DB2 and more.

                //-img(src="http://www.ibm.com/middleware/img/connectivity/connectivity-and-integration.jpg" width="100%")
            //-TWO COLUMN BUTTON ACTIONS
            .ibm-columns
              .ibm-col-2-1
                .u-text-align-center
                  p.ibm-ind-link
                    a.ibm-btn-pri.ibm-btn-blue-50.bee-icon-link(href="#") I'm an IBMer
                  small.u-margin-top-sm.u-display-block IBMers log into Your Learning
              .ibm-col-2-1
                .u-text-align-center
                  p.ibm-ind-link
                    a.ibm-btn-pri.ibm-btn-blue-50.info-icon-link.future-customer(href="#") I'm a future customer
                  small.u-margin-top-sm.u-display-block Get more information about the Your Learning Platform
                //- SUCCESS MESSAGE
                if success == true
                  .notice-success
                    img.u-text-ibm-blue.u-display-inline-block(src="../svg/confirm_128.svg")
                    p.
                      Thanks for expressing interest. We'll send you an email when there's more information available.
                //- ------
                //- FORM
                //- ------
                form(method="post" action="/submit" class=(errors)? 'signup-form ibm-column-form form-errors' : 'signup-form ibm-column-form')
                  //- CUSTOMER NAME
                  p
                    label(for="customerName") Name:
                      span.ibm-required  *
                    span
                      input#customerName(type="text" size="40" name="customerName" value=(nameVal == null ? "" : nameVal) class=(errorName == true? 'ibm-field-error' : ''))
                    if errorName == true
                      each val in errors
                        if val.param == "customerName"
                          span.ibm-item-note.ibm-alert-link #{val.msg}.
                  //- CUSTOMER EMAIL
                  p
                    label(for="customerEmail") Email:
                      span.ibm-required  *
                    span
                      input#customerEmail(type="email" size="40" name="customerEmail" value=(emailVal == null ? "" : emailVal) class=(errorEmail == true? 'ibm-field-error' : ''))
                    if errorEmail == true
                      each val in errors
                        if val.param == "customerEmail"
                          span.ibm-item-note.ibm-alert-link #{val.msg}.
                  //- CUSTOMER COMPANY
                  p
                    label(for="customerCompany") Company Name:
                    span
                      input#customerCompany(type="text" size="40" name="customerCompany" value=(companyVal == null ? '' : companyVal))
                  //- CUSTOMER PHONE
                  p
                    label(for="customerPhone") Phone Number:
                    span
                      input#customerPhone(type="text" size="40" name="customerPhone" value=(phoneVal == null ? '' : phoneVal))
                  //- SUBMIT BUTTON
                  p
                    button.ibm-btn-pri.ibm-btn-blue-50(type="submit") Submit

    //FOOTER_BEGIN
    #ibm-footer-module
    footer(role="contentinfo" aria-label="IBM")
      #ibm-footer
        h2.ibm-access Footer links
        ul
          li
            a(href="//www.ibm.com/contact/us/en/") Contact
          li
            a(href="//www.ibm.com/privacy/us/en/") Privacy
          li
            a(href="//www.ibm.com/legal/us/en/") Terms of use
          li
            a(href="//www.ibm.com/accessibility/us/en/") Accessibility
            //FOOTER_END
