extends layout
block content

  main(role="main" aria-labelledby="ibm-pagetitle-h1")
    #ibm-pcon
      #ibm-content
        #ibm-content-body
          #ibm-content-main.u-margin-bottom-lg
            //-ONE COLUMN TOP CONTENT CALL TO ACTION
            .ibm-columns
              .ibm-col-1-1.c-section.c--contain.u-horizontal-center
                h2#ibm-pagetitle-h2.ibm-h2.u-margin-top-lg.u-margin-bottom-md.u-text-align-center.u-text-capitalize What will you learn today?
                p.ibm-h5.u-margin-bottom-lg Your Learning is IBM's digital learning platform, personalized with a built-in sense-and-respond cognitive capability that recommends learning for you and understands what you like over time. Professional development and education – in one place, built solely on IBM technology including Bluemix, Cloudant, Softlayer, DB2 and more.
            //-TWO COLUMN BUTTON ACTIONS
            .ibm-columns.c-arrange.c--center
              .ibm-col-2-1.t-column-2-1
                .u-text-align-center.u-margin-bottom-lg
                  p.u-margin-bottom-xs.ibm-ind-link
                    a.c-button.c--wide.ibm-btn-pri.ibm-btn-blue-50(href="https://console.ng.bluemix.net/login/?cm_sp=HeaderNavigation-_-HomePage-_-LogIn", onclick="ga('send', 'event', 'link', 'IBMer', 'IBMer')") 
                      span.c-button__icon.bee-icon-link.u-position-relative I'm an IBMer
                  small.c-subtext.u-display-block Log in and start learning today
              .ibm-col-2-1.t-column-2-1
                .u-text-align-center.u-margin-bottom-lg
                  p.u-margin-bottom-xs.ibm-ind-link
                    button.c-button.c--wide.ibm-btn-pri.ibm-btn-blue-50.js-future-customer(href="#/", onclick="ga('send', 'event', 'button', 'future-customer', 'future-customer')") 
                      span.c-button__icon.info-icon-link.u-position-relative Request the Whitepaper
                  small.c-subtext.u-display-block Get more information
            //- SUCCESS MESSAGE
            if success == true
              .notice-success.u-text-align-center.u-margin-top-md
                div.confirm-circle-link.u-text-align-center.u-margin-bottom-sm.u-icon-font-medium
                p
                  h2.u-font-medium We'll be in touch.
                  h3 You'll hear from us soon.

            
            //- ------
            //- FORM
            //- ------
            div(class=(errors)? 'signup-form ibm-column-form form-errors' : 'signup-form ibm-column-form')
              h2#ibm-pagetitle-h2.ibm-h2.u-text-align-center Let's Talk
              h3.u-text-align-center We're working hard on the Whitepaper! When it's ready we'll send it your way.
              form.u-horizontal-center.u-display-inline-block(method="post" action="/submit" novalidate class=(errors)? 'signup-form ibm-column-form form-errors' : 'signup-form ibm-column-form')
                div.arrow-down-container.u-margin-bottom-md
                  div.c-icon.arrow-down-link.arrow
                  
                //- CUSTOMER NAME
                p.form-row.u-horizontal-center
                  input#customerName.c-input(type="text", required, name="customerName", value=(nameVal == null ? "" : nameVal) class=(errorName == true? 'ibm-field-error' : ''))
                  span.inputError
                    span.inputErrorMessage Sorry, that's an invalid email.
                  label(alt="Name", for="customerName", data-placeholder="Full Name*")
                  if errorName == true
                    each val in errors
                      if val.param == "customerName"
                        span.ibm-item-note.ibm-alert-link #{val.msg}.
                //- CUSTOMER EMAIL
                p.form-row
                  input#customerEmail.c-input(type="email", required, name="customerEmail" value=(emailVal == null ? "" : emailVal) class=(errorEmail == true? 'ibm-field-error' : ''))
                  label(alt="Email" for="customerEmail", data-placeholder="Email*")
                  span.inputError
                    span.inputErrorMessage Sorry, that's an invalid email.
                  if errorEmail == true
                    each val in errors
                      if val.param == "customerEmail"
                        span.ibm-item-note.ibm-alert-link #{val.msg}.
                //- CUSTOMER COMPANY
                p.form-row
                  input#customerCompany.c-input(type="text", required, name="customerCompany" value=(companyVal == null ? '' : companyVal))
                  label(alt="Company" for="customerCompany" data-placeholder="Company")
                //- CUSTOMER PHONE
                p.form-row
                  input#customerPhone.c-input(type="text", required, name="customerPhone" value=(phoneVal == null ? '' : phoneVal))
                  label(for="customerPhone", data-placeholder="Phone Number")
                //- SUBMIT BUTTON
                p.u-text-align-center
                  button.ibm-btn-pri.ibm-btn-blue-50(type="submit", onclick="ga('send', 'event', 'button', 'submit', 'submit-form')") Submit
                  //- span Submitting information...

    //FOOTER_BEGIN
    #ibm-footer-module
    footer(role="contentinfo" aria-label="IBM")
      #ibm-footer
        h2.ibm-access Footer links
        ul
          li
            a(href="//www.ibm.com/contact/us/en/") Contact
          li
            a(href="//www.ibm.com/privacy/us/en/") Privacy
          li
            a(href="//www.ibm.com/legal/us/en/") Terms of use
          li
            a(href="//www.ibm.com/accessibility/us/en/") Accessibility
            //FOOTER_END
