doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="//www.ibm.com/favicon.ico")
    meta(name="geo.country" content="US")
    meta(name="dcterms.rights" content="© Copyright IBM Corp. 2016")
    meta(name="dcterms.date" content="REPLACE")
    meta(name="description" content="REPLACE")
    meta(name="keywords" content="REPLACE")
    meta(name="robots" content="index, follow")
    meta(name="generator" content="IBM Northstar Template Generator 2.0")
    title= title

    script.
      digitalData = {
        "page": {
          "category": {
            "primaryCategory": "REPLACE"
          },
          "pageInfo": {
            "effectiveDate": "REPLACE",
            "expiryDate": "REPLACE",
            "language": "en-US",
            "publishDate": "REPLACE",
            "publisher": "IBM Corporation",
            "version": "v18",
            "pageID": "REPLACE",
            "ibm": {
              "contentDelivery": "HTML",
              "contentProducer": "IBM Northstar Template Generator 2.0",
              "country": "US",
              "industry": "REPLACE",
              "owner": "REPLACE",
              "siteID": "REPLACE",
              "subject": "REPLACE",
              "type": "REPLACE"
            }
          }
        }
      }
    //- script(src="//1.www.s81c.com/common/stats/ida_stats.js")
    link(href="//1.www.s81c.com/common/v18/css/www.css" rel="stylesheet")
    link(href="//1.www.s81c.com/common/v18/css/forms.css" rel="stylesheet")
    link(rel='stylesheet', href='/css/style.css')
    script(src="//1.www.s81c.com/common/v18/js/www.js")
    script(src="//1.www.s81c.com/common/v18/js/forms.js")
    script(type="text/javascript").
      IBMCore.common.util.config.set({
        "masthead": {
          "type": "popup"
        },
        "footer": {
          "type": "alternate",
          "socialLinks": {
            "enabled": false
          }
        }
      })
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-84554038-1', 'auto');
      ga('send', 'pageview');
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="./javascripts/main.js")


  body#ibm-com.ibm-type
    #ibm-top.ibm-landing-page
      //MASTHEAD_BEGIN
      #ibm-masthead(role="banner" aria-label="IBM")
        #ibm-mast-options
          ul(role="toolbar" aria-labelledby="ibm-masthead")
            li#imb-geo(role="presentation")
              a(href="//www.ibm.com/planetwide/select/selector.html") United States
        #ibm-universal-nav
          .c-arrange.c--space-between.c--align-center.u-padding-right-20
            #ibm-home
              a(class="c-arrange__item" href="//www.ibm.com/us-en/") IBM®
            ul.c-list.c--border.u-text-capitalize
              li.c-list__item
                a(href="https://console.ng.bluemix.net/login/?cm_sp=HeaderNavigation-_-HomePage-_-LogIn", onclick="ga('send', 'event', 'link', 'log in', 'login-header')") Log in
              li.c-list__item
                button.c-link.js-learn-more(href="#/", role="button" ,onclick="ga('send', 'event', 'button', 'learn more', 'learnmore-header')") Learn More

        
                //MASTHEAD_END
      #ibm-content-wrapper
        header(role="banner" aria-labelledby="ibm-pagetitle-h1")
          //LEADSPACE_BEGIN
          #ibm-leadspace-head.ibm-alternate.c-background.u-position-relative.ibm-alternate-background
            div.c-facet-pattern.u-z-index-2
            div.c-black-gradient.u-z-index-0
            #ibm-leadspace-body.u-z-index-4.u-position-relative
              .ibm-columns
                .ibm-col-1-1.c-arrange.c--space-between
                  div
                    div.c-arrange.c--align-center
                      h1.u-visually-hidden Your Learning
                      img.c-logo.u-margin-top-md(src="../svg/yl-banner-trimmed.svg", alt="Your Learning logo")
                      //- img.c-logo.u-margin-top-md(src="../svg/yl_trimmed.svg", alt="Your Learning logo")
                      //- h1.c-heading.c--1 Your Learning
                    p.u-margin-top-md.c-section.c--half No matter the style of education you want, or the pace, you can find and keep track of it on Your Learning. And with our exceptional mobile capabilities, you can learn anytime, anywhere.
                    button.js-learn-more.u-margin-top-md.c-button.c--white-border.ibm-btn-pri(href="#/" ) Learn More

                    //LEADSPACE_END
        block content

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="./javascripts/main.js")
    
