doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="//www.ibm.com/favicon.ico")
    meta(name="geo.country" content="US")
    meta(name="dcterms.rights" content="© Copyright IBM Corp. 2016")
    meta(name="dcterms.date" content="REPLACE")
    meta(name="description" content="REPLACE")
    meta(name="keywords" content="REPLACE")
    meta(name="robots" content="index, follow")
    meta(name="generator" content="IBM Northstar Template Generator 2.0")
    title= title

    //- script.
    //-   digitalData = {
    //-     "page": {
    //-       "category": {
    //-         "primaryCategory": "REPLACE"
    //-       },
    //-       "pageInfo": {
    //-         "effectiveDate": "REPLACE",
    //-         "expiryDate": "REPLACE",
    //-         "language": "en-US",
    //-         "publishDate": "REPLACE",
    //-         "publisher": "IBM Corporation",
    //-         "version": "v18",
    //-         "pageID": "REPLACE",
    //-         "ibm": {
    //-           "contentDelivery": "HTML",
    //-           "contentProducer": "IBM Northstar Template Generator 2.0",
    //-           "country": "US",
    //-           "industry": "REPLACE",
    //-           "owner": "REPLACE",
    //-           "siteID": "REPLACE",
    //-           "subject": "REPLACE",
    //-           "type": "REPLACE"
    //-         }
    //-       }
    //-     }
    //-   }
    //- script(src="//1.www.s81c.com/common/stats/ida_stats.js")
    link(href="//1.www.s81c.com/common/v18/css/www.css" rel="stylesheet")
    link(href="//1.www.s81c.com/common/v18/css/forms.css" rel="stylesheet")
    link(rel='stylesheet', href='/css/style.css')
    //- script(src="//1.www.s81c.com/common/v18/js/www.js")
    //- script(src="//1.www.s81c.com/common/v18/js/forms.js")
    //- script(type="text/javascript").
    //-   IBMCore.common.util.config.set({
    //-     "masthead": {
    //-       "type": "popup"
    //-     },
    //-     "footer": {
    //-       "type": "alternate",
    //-       "socialLinks": {
    //-         "enabled": false
    //-       }
    //-     }
    //-   })
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-84554038-1', 'auto');
      ga('send', 'pageview');
    //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    //- script(src="./javascripts/main.js")


  body#ibm-com.ibm-type
    #ibm-top.ibm-landing-page
      //MASTHEAD_BEGIN
      #ibm-masthead(role="banner" aria-label="IBM")
        #ibm-mast-options
          ul(role="toolbar" aria-labelledby="ibm-masthead")
            li#imb-geo(role="presentation")
              a(href="//www.ibm.com/planetwide/select/selector.html") United States
        #ibm-universal-nav
          .c-arrange.c--space-between.c--align-center.u-padding-right-20
            #ibm-home
              a(class="c-arrange__item" href="//www.ibm.com/us-en/") IBM®
            ul.c-list.c--border.u-text-capitalize
              li.c-list__item
                a(href="https://console.ng.bluemix.net/login/?cm_sp=HeaderNavigation-_-HomePage-_-LogIn", onclick="ga('send', 'event', 'link', 'log in', 'login-header')") Log in
              li.c-list__item
                button.c-link.js-learn-more(href="#/", role="button" ,onclick="ga('send', 'event', 'button', 'learn more', 'learnmore-header')") Learn More

        
                //MASTHEAD_END
      #ibm-content-wrapper
        header(role="banner" aria-labelledby="ibm-pagetitle-h1")
          //LEADSPACE_BEGIN
          #ibm-leadspace-head.ibm-alternate.c-background.u-position-relative.ibm-alternate-background
            <svg id="Layer_1" class="c-layer" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1922.21 290.75"><defs><style>.cls-1{opacity:0.58;fill:url(#linear-gradient);}</style><linearGradient id="linear-gradient" x1="1715.05" y1="337.05" x2="289.03" y2="-300.45" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#004a49" stop-opacity="0.4"/><stop offset="0.01" stop-color="#004a49" stop-opacity="0.44"/><stop offset="0.13" stop-color="#004a49" stop-opacity="0.75"/><stop offset="0.24" stop-color="#004a49" stop-opacity="0.94"/><stop offset="0.34" stop-color="#004a49"/><stop offset="0.35" stop-color="#004a49" stop-opacity="0.98"/><stop offset="0.75" stop-color="#004a49" stop-opacity="0"/></linearGradient></defs><polygon class="cls-1" points="0 0 1922.21 290.75 1922.21 0 245.2 0 0 0"/></svg>
            <svg id="Layer_2" class="c-layer" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1922.04 411.93"><defs><style>.cls-1{opacity:0.58;fill:url(#linear-gradient);}</style><linearGradient id="linear-gradient" x1="313.25" y1="567.57" x2="1741.76" y2="-41.35" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#004a49" stop-opacity="0"/><stop offset="0.19" stop-color="#004a49" stop-opacity="0.06"/><stop offset="0.39" stop-color="#004a49" stop-opacity="0.23"/><stop offset="0.59" stop-color="#004a49" stop-opacity="0.52"/><stop offset="0.8" stop-color="#004a49" stop-opacity="0.92"/><stop offset="0.84" stop-color="#004a49"/><stop offset="0.9" stop-color="#004a49" stop-opacity="0.95"/><stop offset="0.95" stop-color="#004a49" stop-opacity="0.81"/><stop offset="1" stop-color="#004a49" stop-opacity="0.6"/></linearGradient></defs><polygon class="cls-1" points="1922.04 0 0 253.03 1261.9 411.93 1922.04 329.87 1922.04 0"/></svg>
            <svg id="Layer_3" class="c-layer" data-name="Layer 3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1922.18 363.4"><defs><style>.cls-1{opacity:0.58;fill:url(#linear-gradient);}</style><linearGradient id="linear-gradient" x1="1.63" y1="628.37" x2="1904.3" y2="-257.4" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#004a49" stop-opacity="0.19"/><stop offset="0.52" stop-color="#004a49"/><stop offset="0.76" stop-color="#004a49" stop-opacity="0.54"/><stop offset="1" stop-color="#004a49" stop-opacity="0"/></linearGradient></defs><polygon class="cls-1" points="1922.18 259 0 0 0 363.4 1922.18 363.4 1922.18 259"/></svg>
            <svg id="Layer_4" class="c-layer" data-name="Layer 4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1922.54 357.66"><defs><style>.cls-1{opacity:0.58;fill:url(#linear-gradient);}</style><linearGradient id="linear-gradient" x1="-52.79" y1="521.42" x2="1964.05" y2="-417.5" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#004a49" stop-opacity="0"/><stop offset="0.13" stop-color="#004a49" stop-opacity="0.39"/><stop offset="0.28" stop-color="#004a49" stop-opacity="0.73"/><stop offset="0.41" stop-color="#004a49" stop-opacity="0.93"/><stop offset="0.52" stop-color="#004a49"/><stop offset="0.64" stop-color="#004a49" stop-opacity="0.95"/><stop offset="0.75" stop-color="#004a49" stop-opacity="0.81"/><stop offset="0.85" stop-color="#004a49" stop-opacity="0.57"/><stop offset="0.95" stop-color="#004a49" stop-opacity="0.23"/><stop offset="1" stop-color="#004a49" stop-opacity="0"/></linearGradient></defs><polygon class="cls-1" points="0 357.66 1922.54 98.66 1922.54 0 0 0 0 357.66"/></svg>
                    
            div.c-facet-pattern.u-z-index-2
            div.c-black-gradient.u-z-index-0
            #ibm-leadspace-body.u-z-index-4.u-position-relative
              .ibm-columns
                .ibm-col-1-1.c-arrange.c--space-between
                  div
                    div.c-arrange.c--align-center
                      h1.u-visually-hidden Your Learning
                      img.c-logo.u-margin-top-md(src="../svg/yl-banner-trimmed.svg", alt="Your Learning logo")
                      //- img.c-logo.u-margin-top-md(src="../svg/yl_trimmed.svg", alt="Your Learning logo")
                      //- h1.c-heading.c--1 Your Learning
                    p.u-margin-top-md.c-section.t-section-halfish No matter the style of education you want, or the pace, you can find and keep track of it on Your Learning. And with our exceptional mobile capabilities, you can learn anytime, anywhere.
                    button.js-learn-more.u-margin-top-md.c-button.c--white-border.ibm-btn-pri(href="#/" ) Learn More

                    //LEADSPACE_END
        block content

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="./javascripts/main.js")
    
