#ibm-home {
  margin-left: 0;
  padding-left: 20px;
}

#ibm-universal-nav {
  padding-right: 20px;
}

.c-button {
  max-width: 250px;
}

.u-text-ibm-blue {
  color: #4178be;
}

.c-section {
  width: 60%;
}

.c-black-gradient {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.85) 0, transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
}

.ibm-btn-pri img, .ibm-btn-pri span {
  vertical-align: middle;
}

.ibm-btn-pri img {
  margin-right: 0.4em;
}

.t-index__icon-container {
  height: 50px;
  width: 50px;
  left: 50%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.c-background {
  background: url(../images/stockphoto_tint.png) no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: "Helvetica Neue",Arial,sans-serif;
  background: transparent;
}

p {
  -webkit-font-smoothing: antialiased;
}

.c-list {
  display: inline-block;
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 0;
}

.c-list .c-list__item {
  display: inline;
  width: 50%;
}

.c-list.c--border .c-list__item + .c-list__item {
  border-left: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  padding-left: 16px;
}

.c-list__item + .c-list__item {
  margin-left: 16px;
}

.c-logo {
  width: 60%;
  max-width: 400px;
  height: auto;
}

.c-ibm-logo {
  height: 40px;
  width: auto;
}

.c-tint:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.c-tint:before.c--blue {
  background-color: rgba(50, 92, 128, 0.6);
}

.c-tint.c--blue {
  background-color: rgba(50, 92, 128, 0.6);
}

.c-tint.c--grey {
  background-color: rgba(91, 91, 91, 0.6);
}

.c-button:hover {
  text-decoration: none;
}

.c-icon {
  color: #23527c;
}

.c-icon.c--grey {
  color: #333;
}

.c-button {
  /*background: transparent;*/
  /*border-color: #fff;*/
  /*color: #fff;*/
  padding: 8px 16px;
  border: 2px solid;
  line-height: 16px;
  font-size: 17px;
  min-height: 20px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  text-transform: capitalize;
}

.c-button.c--wide {
  width: 100%;
}

.c-button.c--blue {
  background: #325c80;
  border-color: #325c80;
  color: #fff;
}

.c-header-bar {
  min-height: 50px;
  background-color: #008571;
  padding: 8px;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 5px 16px -1px rgba(0, 0, 0, 0.52);
}

.c-heading {
  font-family: "Helvetica Neue",Arial,sans-serif;
}

.c-heading.c--white {
  color: white;
}

.c-heading.c--1 {
  font-size: 32px;
}

.c-arrange {
  display: flex;
}

.c-arrange.c--center {
  justify-content: center;
}

.c-arrange.c--space-between {
  justify-content: space-between;
}

.c-arrange.c--align-center {
  align-items: center;
}

.c-arrange.c--align-start {
  align-items: flex-start;
}

.c-container {
  max-width: 650px;
  width: 80%;
  display: inline-block;
  padding: 32px;
}

.u-margin-sm {
  margin: 8px;
}

.u-margin-md {
  margin: 16px;
}

.u-margin-bottom-lg {
  margin-bottom: 32px;
}

.u-margin-bottom-md {
  margin-bottom: 16px;
}

.u-margin-bottom-xlg {
  margin-bottom: 40px;
}

.u-margin-top-sm {
  margin-top: 8px;
}

.u-margin-top-md {
  margin-top: 16px;
}

.u-margin-top-lg {
  margin-top: 32px;
}

.u-margin-top-xlg {
  margin-top: 40px;
}

.u-position-relative {
  position: relative;
}

.u-text-align-center {
  text-align: center;
}

.u-text-capitalize {
  text-transform: capitalize;
}

.u-vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.u-position-relative {
  position: relative;
}

.u-position-absolute {
  position: absolute;
}

.u-text-white {
  color: #fff;
}

.u-text-antialiased {
  -webkit-font-smoothing: antialiased;
}

.u-font-large {
  font-size: 50px !important;
}

.u-font-garamond {
  font-family: 'EB Garamond', serif;
}

.u-display-block {
  display: block !important;
}

form label {
  position: relative;
  display: block;
}

form label input {
  font: 18px Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  display: block;
  border: none;
  padding: 20px;
  width: 300px;
  margin-bottom: 20px;
  font-size: 18px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

form label input::placeholder {
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}

form label input:focus, form label input.populated {
  padding-top: 28px;
  padding-bottom: 12px;
}

form label input:focus::placeholder, form label input.populated::placeholder {
  color: transparent;
}

form label input:focus + span, form label input.populated + span {
  opacity: 1;
  top: 10px;
}

form label span {
  color: #35dc9b;
  font: 13px Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0px;
  left: 20px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

form input[type="submit"] {
  transition: all 0.2s ease-in-out;
  font: 18px Helvetica, Arial, sans-serif;
  border: none;
  background: #1aaf75;
  color: #fff;
  padding: 16px 40px;
}

form input[type="submit"]:hover {
  background: #109f67;
}

/*# sourceMappingURL=styles.css.map */
.signup-form {
  display: none;
}

.form-errors {
  display: block;
}

.notice-success {
  background: #2D660A;
  padding: 1em;
  color: white;
}

.icon-font {
  font-family: "icons-ibm-v7";
}

.bee-icon-link::before {
  content: '\f10C';
}

.info-icon-link::before {
  content: '\f144';
}

.arrow-down-link::before {
  content: '\f117';
  position: relative;
  left: -50%;
}

.confirm-circle-link::before {
  content: '\f123';
  position: relative;
}

.arrow {
  width: 3em;
  margin: 12em auto 0 auto;
  animation: bounce 2s ease-out infinite;
}

@keyframes bounce {
  0% {
    margin-top: 12em;
  }
  20% {
    margin-top: 12.5em;
  }
  40% {
    margin-top: 12.3em;
  }
  60% {
    margin-top: 12.5em;
  }
  80% {
    margin-top: 12.3em;
  }
  100% {
    margin-top: 12em;
  }
}
