

#ibm-home {
  margin-left: 0;
  padding-left: 20px;
}

#ibm-universal-nav {
  padding-right: 20px;
}

.ibm-btn-pri img, .ibm-btn-pri span {
  vertical-align: middle;
}

.ibm-btn-pri img {
  margin-right: 0.4em;
}

.ibm-btn-pri::before {
  position: relative;
  vertical-align: sub;
}
