$blue-60: #325C80;
$green-70: #144D14;

.signup-form {
  display: none;
}

.form-errors {
  display: block;
}

.notice-success {
  background: $green-70;
  padding: 1em;
  color: white;
}

.icon-font {
  font-family: "icons-ibm-v7";
}

.bee-icon-link::before {
  content: '\f289';
}

.info-icon-link::before {
  content: '\F2B2';
}

.arrow-down-link::before {
  content: '\F2F8';
  font-size: 1.5rem;
}

.arrow-down-container {
  height: 60px;
}

.confirm-circle-link::before {
  content: '\f123';
  position: relative;

}
