.signup-form {
  display: none;
}

.form-errors {
  display: block;
}

.notice-success {
  background: color( 'green', 60);
  padding: 1em;
  color: white;
}

.icon-font {
  font-family: "icons-ibm-v7";
}

.bee-icon-link::before {
  content: '\f10C';
}

.info-icon-link::before {
  content: '\f144';
}

.arrow-down-link::before {
  content: '\f117';
  position: relative;
}

.confirm-circle-link::before {
  content: '\f123';
  position: relative;
}

.arrow {
	width: 3em;
	margin: 12em auto 0 auto;
	animation: bounce 2s ease-out infinite;
}
@keyframes bounce {
	0% {
    margin-top: 12em;
  }
  20% {
    margin-top: 12.5em;
  }
  40% {
    margin-top: 12.3em;
  }
  60% {
    margin-top: 12.5em;
  }
  80% {
    margin-top: 12.3em;
  }
 100% {
   margin-top: 12em;
  }
}
