#ibm-home {
  margin-left: 0;
  float: none;
  padding-left: 20px;
  padding-right: 20px;
}


.c-button {
  width: 100%;

  max-width: 250px;
}

.u-fill-ibm-blue {
  fill: #4178be;
}

.c-section {
  width: 60%;
}


.c-black-gradient {
    background: linear-gradient(to right, rgba(0,0,0,0.85) 0, transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
}

.u-text-size-smaller {
  font-size: smaller;
}
